<template>
  <v-card
    class="mx-auto d-flex flex-column"
    max-width="344"
    min-height="200"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">{{ overline }}</div>
        <v-list-item-title class="headline mb-1">{{ title }}</v-list-item-title>
        <v-list-item-subtitle>{{ subtitle }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-img
        tile
        size="80"
        max-height="80px"
        max-width="80px"
        :src="imgsrc"
      ></v-img>
    </v-list-item>

    <v-divider></v-divider>

    <v-card-actions>
      <v-slider
        v-model="speed"
        :disabled="!speedEnabled"
        hint="Die Geschindigkeit in welcher das Programm abläuft."
        inverse-label
        max="100"
        min="1"
        label="Speed"
        thumb-label="always"
        style="margin-top: 35px"
      ></v-slider>
    </v-card-actions>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn
        text
        block
        :loading="loading"
        :disabled="loading"
        @click="handleClick"
      >
        Activate
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
  name: 'LedCardPic',
  props: {
    imgsrc: {
      type: String,
      required: true,
    },
    overline: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    apiMethod: {
      type: String,
      required: true,
    },
    speedEnabled: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      speed: 50,
      loader: null,
      loading: false,
    }
  },
  methods: {
    handleClick() {
      this.loading = true
      const apiOptions = []
      if (this.speedEnabled) {
        apiOptions.push('speed=' + this.speed) // TODO: unsafe?
      }
      let apiOptionsString = ''
      if (apiOptions.length > 0) {
        apiOptionsString = '?' + apiOptions.join('&')
      }
      const backendUrl = process.env.backendUrl
      const call = backendUrl + this.apiMethod + apiOptionsString
      console.log(call)
      axios
        .get(call)
        .then((_) => {
          this.loading = false
          console.log('Erfolgreich')
        })
        .catch((e) => {
          this.loading = false
          console.log('Fehlgeschlagen')
          console.log(e)
        })
    },
  },
}
</script>

<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
