<template>
  <v-card
    class="mx-auto d-flex flex-column"
    max-width="344"
    min-height="200"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">{{ overline }}</div>
        <v-list-item-title class="headline mb-1">{{ title }}</v-list-item-title>
        <v-list-item-subtitle>{{ subtitle }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar tile size="80" :color="color"></v-list-item-avatar>
    </v-list-item>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn
        text
        block
        :loading="loading"
        :disabled="loading"
        @click="handleClick"
      >
        Activate
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
  name: 'LedCard',
  props: {
    color: {
      type: String,
      required: true,
    },
    overline: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    apiMethod: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loader: null,
      loading: false,
    }
  },
  methods: {
    handleClick() {
      this.loading = true
      const backendUrl = process.env.backendUrl
      const call = backendUrl + this.apiMethod
      console.log(call)
      axios
        .get(call)
        .then((_) => {
          this.loading = false
          console.log('Erfolgreich')
        })
        .catch((e) => {
          this.loading = false
          console.log('Fehlgeschlagen')
          console.log(e)
        })
    },
  },
}
</script>
