<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-col v-for="(card, index) in cards" :key="index">
        <led-card
          :overline="card.overline"
          :title="card.title"
          :subtitle="card.subtitle"
          :color="card.color"
          :api-method="card.apiMethod"
        ></led-card>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col v-for="(card_pic, index) in card_pics" :key="index">
        <led-card-pic
          :overline="card_pic.overline"
          :title="card_pic.title"
          :subtitle="card_pic.subtitle"
          :imgsrc="card_pic.imgsrc"
          :api-method="card_pic.apiMethod"
          :speed-enabled="card_pic.speedEnabled"
        ></led-card-pic>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          overline: 'Color',
          title: 'Ausschalten',
          subtitle: 'Schaltet alle LEDs aus.',
          color: 'black',
          apiMethod: 'aus',
        },
        {
          overline: 'Color',
          title: 'Hell',
          subtitle: 'Schaltet die weißen LEDs ein.',
          color: 'white',
          apiMethod: 'hell',
        },
        {
          overline: 'Color',
          title: 'Lile',
          subtitle: 'Zeigt die Farbe Lila an.',
          color: 'purple',
          apiMethod: 'lila',
        },
      ],
      card_pics: [
        {
          overline: 'Color Gradient',
          title: 'Regenbogen Vertikal',
          subtitle: 'Lässt die Farben des Regenbogens durch die LEDs durch wandern.',
          imgsrc: 'rainbow_v.png',
          imgnotice: 'https://commons.wikimedia.org/wiki/File:10-band_Rainbow_Flag.png',
          apiMethod: 'rotieren',
          speedEnabled: true,
        },
        {
          overline: 'Color Gradient',
          title: 'Regenbogen Horizontal',
          subtitle: 'Wechselt alle LEDs gleichzeitig in die nächste Farbe.',
          imgsrc: 'rainbow_h.png',
          imgnotice: 'https://commons.wikimedia.org/wiki/File:10-band_Rainbow_Flag.png',
          apiMethod: 'rotieren_2',
          speedEnabled: true,
        },
        {
          overline: 'Program',
          title: 'Feuer',
          subtitle: 'Simuliert ein Lagerfeuer',
          imgsrc: 'feuer.png',
          imgnotice: 'https://pixabay.com/de/illustrations/feuer-flamme-hitze-hei%C3%9F-holzscheit-4394128/',
          apiMethod: 'feuer',
        },
      ],
    }
  },
}
</script>
